<form [formGroup]="userForm" (ngSubmit)="addUpdateUserAction()" novalidate #userFormRef="ngForm" class="m-3">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4 class="modal-title pull-left mt-0"><u>{{addUpdateUserBtn}} User</u></h4>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" formControlName="firstName" placeholder="First Name" class="form-control"
                    appTrimValue required
                    [ngClass]="{ 'is-invalid': userFormRef.submitted && userForm.get('firstName')?.invalid }" />
                <div *ngIf="userFormRef.submitted && userForm.get('firstName')?.invalid" class="invalid-feedback">
                    <span *ngIf="userForm.get('firstName')?.hasError('required')">First Name is
                        <strong>required</strong></span>
                </div>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" formControlName="lastName" placeholder="Last Name" class="form-control" required
                    appTrimValue
                    [ngClass]="{ 'is-invalid': userFormRef.submitted && userForm.get('lastName')?.invalid }" />
                <div *ngIf="userFormRef.submitted && userForm.get('lastName')?.invalid" class="invalid-feedback">
                    <span *ngIf="userForm.get('lastName')?.hasError('required')">Last Name is
                        <strong>required</strong></span>
                </div>
            </div>
            <div class="form-group">
                <label>Gender</label>
                <select class="form-select" formControlName="gender"
                    [ngClass]="{'is-invalid': userFormRef.submitted && userForm.get('gender')?.errors}">
                    <option [value]="'select'">--Select--</option>
                    <option [value]="'Male'">Male</option>
                    <option [value]="'Female'">Female</option>
                </select>
                <div *ngIf="userFormRef.submitted && userForm.get('gender')?.errors" class="invalid-feedback">
                    <span *ngIf="userForm.get('gender')?.errors?.required">Gender is
                        <strong>required</strong></span>
                </div>
            </div>
        </div>
        <div class=" col-md-3">
        </div>
    </div>
    <div class="modal-footer popup-footer mt-2">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-sm btn-secondary f-right mx-2"
                        (click)="clearForm()">Reset</button>
                    <button type="submit" [disabled]="!userForm.valid"
                        class="btn btn-sm btn-primary f-right">{{addUpdateUserBtn}} User</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="m-2">
    <div class="d-flex justify-content-center" *ngIf="isLoading">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <table class="table table-bordered" *ngIf="!isLoading && users.length > 0">
        <thead>
            <tr>
                <th>S. No.</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.gender}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-primary"
                        (click)="action(user.id, user)">Update</button>
                    <button type="button" class="btn btn-sm btn-outline-danger m-left"
                        (click)="action(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>